<div class="notice"><%= notice %></div>
<%= render 'layouts/header', header: @header %>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" style="text-align: center;">
      <h3 style="background-color: lightgray;">ジャンル一覧・追加</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-4">
  		<table>
  			<%= form_with model:@genre, url:(genres_path),local: true do |f| %>
  				<td>ジャンル</td>
  			  	<td style="padding-left: 10px;"><%= f.text_field :name %></td>
  			　	<td style="padding-left: 20px;"><%= f.submit "追加", class: "btn btn-primary"%></td>
  			<% end %>
  		</table>
      <div class="alert"><%= alert %></div>
  	</div>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
  		<table class="table table-striped">
  			<thead>
    			<th>ジャンル</th>
    			<th></th>
          <th></th>
    		</thead>
    		  <% @genres.each do |genre| %>
  			  <tr>
  				  <td><%= genre.name %></td>
  				  <td><%= link_to "編集する",edit_genre_path(genre), class: "btn btn-success" %></td>
            <td><%= link_to "削除する",genre_path(genre),method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
    		  </tr>
    		  <% end %>
		  </table>
  	</div>