<%= render 'layouts/header', header: @header %>

<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
		<h1>ジャンル作成</h1>
		    <%= form_for @genre do |f| %>
          		<div class="row">
            		<label style="margin: 5px;">タイトル</label><br>
            		<p style="margin: 5px;"><%= f.text_field :name, class: "col-xs-12" %></p>
          		</div>
          		<div class="row">
            		<p style="margin-top: 10px;"><%= f.submit "新規作成", class: "btn btn-primary col-xs-12" %></p>
          		</div>
          <% end %>
		</div>
	</div>
</div>

<%= render 'layouts/footer', footer: @footer %>