<div class="notice"><%= notice %></div>
<%= render 'layouts/header', header: @header %>
<div class="container">
  <div class="row">
  	<div class="col-xs-4 col-xs-offset-4" style="text-align: center;">
      	<h3 style="background-color: lightgray;">お知らせ</h3>
    </div>

	<div class="col-xs-8 col-xs-offset-2">
		<h2 style="text-align: center;"><%= @message.title %></h2>
	    <h2 style="padding: 20px;"><%= @message.body %></h2>
	<% if admin_signed_in? %>
	    <%= link_to "編集する",edit_message_path(@message), class: "btn btn-success col-xs-4 col-xs-offset-1" %>
	    <%= link_to "削除する",message_path(@message),method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger col-xs-4 col-xs-offset-2" %><br>
	<% end %>
	<span style="padding: 20px;"><%= link_to "お知らせ一覧",messages_path, class: "btn btn-primary col-xs-12" %></span>
    </div>
  </div>
</div>