<div class="notice"><%= notice %></div>
<%= render 'layouts/header', header: @header %>

<div class="container">
  <div class="row">
  	<div class="col-xs-8 col-xs-offset-2">

  		<div class="heading col-xs-6 col-xs-offset-3">
      		<h3>お知らせ</h3>
    	</div>

    	<table class="col-xs-12" style="margin-bottom: 50px;">
    		<tr>
				<td><h2><%= @message.title %></h2></td>
			</tr>
			<tr>
				<td style="padding-top: 30px;"><h2><%= @message.body %></h2></td>
			</tr>
		</table>

		<% if admin_signed_in? %>
	    	<%= link_to "編集する",edit_message_path(@message), class: "btn btn-success col-xs-4 col-xs-offset-1" %>
	    	<%= link_to "削除する",message_path(@message),method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger col-xs-4 col-xs-offset-2" %><br>
		<% end %>

		<span><%= link_to "お知らせ一覧",messages_path, class: "btn btn-primary col-xs-12" %></span>
    </div>
  </div>
</div>

<%= render 'layouts/footer', footer: @footer %>