<header>
  <div  class="navbar navbar-clearfixed navbar-inverse"style="background-color: lightyellow;">
    <nav class="nav navbar-nav navbar-left">
      <span style="color:blue; font-size: 30px;">旅ブログ</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "検索",search_search_path, class: "glyphicon glyphicon-search" %></li>
          <li><%= link_to "トップページ",blogs_path, class: "glyphicon glyphicon-book" %></li>
          <li><%= link_to "マイページ",user_path(current_user), class: "glyphicon glyphicon-home home" %></li>
          <li><%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %></li>
        <% else %>
          <li><%= link_to "トップページ",root_path, class: "glyphicon glyphicon-home" %></li>
          <li><%= link_to "新規登録",new_user_registration_path, class: "glyphicon glyphicon-edit" %></li>
          <li><%= link_to "ログイン",new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
        <% end %>
      </ul>
    </nav>
    <div class="main-visual">
    　<div id="theTarget">
        <div class="image1">ようこそ旅ブログへ！！</div>
        <div class="image2">ようこそ旅ブログへ！！</div>
        <div class="image3">ようこそ旅ブログへ！！</div>
        <div class="image4">ようこそ旅ブログへ！！</div>
        <div class="image5">ようこそ旅ブログへ！！</div>
      </div>
    </div>
  </div>
</header>