<%= render 'layouts/header', header: @header %>

<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h1>ブログ編集</h1>
	   	<%= form_for @blog do |f| %>
    		<div class="row">
      		<label style="margin: 5px;">タイトル</label><br>
      		<p style="margin: 5px;"><%= f.text_field :title, class: "col-xs-12" %></p>
    		</div>
    		<div class="row">
      		<label style="margin: 5px;">紹介文</label>
      		<p style="margin: 5px;"><%= f.text_area :body, class: "col-xs-12" %></p>
    		</div>
    		<div class="row">
    			<div class="item-image" style="margin: 10px; text-align: center;">
				  <%= attachment_image_tag @blog, :image, class: "img-square", fallback: "no_image.jpg", size:"300x300" %></div>
        </div>
        <div class="row">
			    <label style="margin: 5px;">画像</label>
      		<p style="margin: 5px;"><%= f.attachment_field :image %></p>
    		</div>
        <div class="row">
          <label style="margin: 5px;">撮影場所</label>
          <p style="margin: 5px;"><%= f.text_field :area, class: "col-xs-12" %></p>
        </div>
    		<div class="row">
      		<label style="margin: 5px;">ジャンル</label>
      		<p style="margin: 5px;"><%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %></p>
    		</div>
    		<div class="row">
      		<p style="padding-top: 10px;"><%= f.submit "更新", class: "btn btn-primary col-xs-12" %></p>
    		</div>
   	<% end %>
		</div>
	</div>
</div>

<%= render 'layouts/footer', footer: @footer %>