<div class="notice"><%= notice %></div>
<%= render 'layouts/header', header: @header %>

<div class="container">
	<div class="row">
		<%= render 'layouts/user_info', user: @user %>
		<div class="col-xs-6">
			<table>
				<tr>
					<td><h2><%= @blog.title %>(<%= @blog.area%>)</h2></td>
					<% if @blog.user == current_user %>
					<td style="padding-left: 30px; padding-top: 15px;"><%= link_to "編集",edit_blog_path(@blog), class: "btn btn-success" %></td>
					<td style="padding-left: 30px; padding-top: 15px;"><%= link_to "削除",blog_path(@blog),method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
					<% end %>
				</tr>
			</table>

			<%= attachment_image_tag @blog, :image, :fill,500,300, format: 'jpeg' %>
			<h4 style="padding-top: 10px;">
				<p>評価⭐️<%= @avg %></p>
				<% @blog.genre_blogs.each do |b| %>
            	#<%= b.genre.name %>
                <% end %></h4>
			<h5><%= @blog.body %></h5>

			<table>
				<tr>
					<td><%= link_to user_path(@user) do %>
						<%= attachment_image_tag @blog.user, :profile_image, :fill,30,30, format: 'jpeg', class: "profile-image" %>
						<% end %></td>
					<td style="padding: 10px;">by<%= @blog.user.name %></td>
					<td class="glyphicon glyphicon-calendar" style="padding-top: 10px;"><%= @blog.created_at.strftime('%Y/%m/%d') %></td>

					<% if @blog.favorited_by?(current_user) %>
  					<td style="padding: 10px;">
  						<%= link_to blog_favorites_path(@blog), method: :delete, remote: true, id: "method" do %>
    					<span class="glyphicon glyphicon-heart" style="color: red;"></span></a>
    					<% end %>
  						</td>
					<% else %>
					<td style="padding: 10px;">
						<%= link_to blog_favorites_path(@blog), method: :post, remote: true, id: "method" do %>
    					<span class="glyphicon glyphicon-heart" style="color: black;"></span>
    					<% end %>
  						</td>
					<% end %>

 					<td><span id="count"><%= @blog.favorites.count %>いいね</span></td>
 					<td style="padding: 10px;"><span class="glyphicon glyphicon-comment"></span> <%= @blog.comments.count %></td>
				</tr>
			</table>

			<h4 style="margin-top: 30px;">コメント・レビュー</h4>
			<%= form_for @comment do |f| %>
			<p id="star"></p>
 				<%= f.hidden_field :blog_id, :value => @blog.id %>
  				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.text_area :comment,placeholder: "コメントをここに", class: "col-xs-12" %>
				<%= f.submit "送信する", class: "btn btn-primary  pull-right" %>
			<% end %>
		</div>

		<div class="col-xs-3" style="margin-top: 100px;">
			<h4 style="text-align: center;">コメント一覧</h4>
			<table class="table table-hover">
  				<% @blog.comments.each do |comment| %>
  				<tr>
  					<td><p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
  						<p>⭐️<%= comment.rate %></p>
  						<p><%= comment.comment %></p>
  						<p>by <%= comment.user.name %>
  						      <% if comment.user == current_user %>
            		<td>        <%= link_to "削除",comment_path(comment), method: :delete, class: "btn btn-danger", "data-confirm" => "are you sure?" %><% end %></p>
  					</td>
  				</tr>
   				<% end %>
  			</table>
  		</div>
	</div>
</div>

<%= render 'layouts/footer', footer: @footer %>