<%= render 'layouts/header', header: @header %>

<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2" style="text-align: center;">
			<h1>検索</h1>
			<%= form_with(url: search_search_path,method: :get,local: true) do |f| %>
				<%= f.text_field :search %>
				<%= f.select :model , options_for_select({ユーザー: :user,ブログ: :blog })%>
  				<%= f.submit "検索", class: "btn-default" %>
			<% end %>
		</div>
	</div>
</div>

	<% if params[:model] == "user" %>
		<%= render 'users/search',users: @users %>
	<% else %>
		<%= render 'blogs/search',blogs: @blogs %>
	<% end %>

<%= render 'layouts/footer', footer: @footer %>
