<%= render 'layouts/header', header: @header %>

<div class="container">
	<div class="row">
		<div class="main col-xs-8 col-xs-offset-2" style="text-align: center;">
			<div class="alert"><%= alert %></div>
			<h1>検索</h1>
			<%= form_with(url: search_search_path,method: :get,local: true) do |f| %>
				<%= f.text_field :search %>
				<%= f.select :model , options_for_select({ユーザー: :user,ブログ: :blog,撮影場所: :area,タグ: :genre})%>
  				<%= f.submit "検索", class: "btn-default" %>
			<% end %>

			<% if params[:model] == "user" %>
				<% if @users.present? %>
					<%= render 'users/search',users: @users %>
				<% else %>
					<div class="alert">見つかりませんでした</div>
				<% end %>
			<% elsif params[:model] == "blog" %>
				<% if @blogs.present? %>
					<%= render 'blogs/search',blogs: @blogs %>
				<% else %>
					<div class="alert">見つかりませんでした</div>
				<% end %>
			<% elsif params[:model] == "area" %>
				<% if @blogs.present? %>
					<%= render 'blogs/search',blogs: @blogs %>
				<% else %>
					<div class="alert">見つかりませんでした</div>
				<% end %>
			<% elsif params[:model] == "genre" %>
				<% if @genres.present? %>
					<%= render 'genres/search',genres: @genres %>
				<% else %>
					<div class="alert">見つかりませんでした</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>


<%= render 'layouts/footer', footer: @footer %>
