<div class="notice"><%= notice %></div>
<%= render 'layouts/header', header: @header %>

<div class="container">
　<div class="row">
    <div class="main col-xs-6 col-xs-offset-3">
      <div class="alert"><%= alert %></div>
      <div class="box">
      <h2>ログイン</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="inputBox">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
            <%= f.label :メールアドレス %>
          </div>
          <div class="inputBox">
            <%= f.password_field :password, autocomplete: "current-password", required: true %>
            <%= f.label :パスワード %>
          </div>
            <%= f.submit "ログイン", class: "btn btn-primary col-xs-12" %>
        <% end %>
      </div>
    <h5 style="margin-top: 100px;">登録がお済みでない方は<%= link_to "こちら", new_user_registration_path %>から新規登録を行なってください。</h5>
    </div>
  </div>
</div>

<%= render 'layouts/footer', footer: @footer %>

