<%= notice %>
<%= render 'layouts/header', header: @header %>
<%= render 'blogs/main_visual' %>

<div class="container">
	<div class="row">
		<div class="blog col-xs-9">

	    <h4 style="text-align: center; margin-top: 30px;">お知らせ</h4>
	    <table class="table table-hover">
	    <% @messages.each do |message| %>
	      <tr>
	      <td><%= link_to message.title, message_path(message) %></td>
	      </tr>
	    <% end %>
	      <tr>
	      	<td><%= link_to "<<一覧ページへ",messages_path %></td>
	      </tr>
	    </table>

		<h2 style="margin-bottom: 20px;">最近のブログ</h2>
	  	<table class="table table-hover">
	    	<% @blogs.each do |blog| %>
	    	　<tr>
    				<td><%= link_to blog_path(blog) do %><%= attachment_image_tag blog, :image, :fill,300,200, format: 'jpeg', fallback: "no_image.jpg", size:"300x200" %><% end %></td>
          	<td style="font-size: 20px; padding: 50px 50px;"><%= link_to blog.title,blog_path(blog) %><br>
          			<%= blog.created_at.strftime('%Y/%m/%d') %><br>
                <% blog.genre_blogs.each do |b| %>
          			<%= b.genre.name %>
                <% end %></td>
        	</tr>
       	<% end %>
      </table>
    </div>

  	<div class="sidebar col-xs-3" style="margin-top: 60px;">

      <table class="table tables-bordered">
        <thead>
          <th style="text-align: center;">人気の記事</th>
        </thead>
        <% @blog_ranks.each.with_index(1) do |blog, i| %>
          <tr>
            <td>第<%= i %>位　❤️<%= blog.favorites.count %>　<%= link_to blog.title,blog_path(blog) %></td>
          </tr>
        <% end %>
      </table>

      <table class="table tables-bordered">
        <thead>
          <th style="text-align: center;">人気の記事</th>
        </thead>
        <% @star_ranks.each.with_index(1) do |blog, i| %>
          <tr>
            <td>第<%= i %>位　⭐️<%#= @avg %> <%= link_to blog.title,blog_path(blog) %></td>
          </tr>
        <% end %>
      </table>

  		<table class="table tables-bordered">
       	<thead>
       		<th style="text-align: center;">タグで探す</th>
     	 	</thead>
	    	<% @genres.each do |genre| %>
         	<tr>
      			<td style="text-align: center;"><%= link_to genre.name,genre_path(genre) %>
                    (<%= genre.genre_blogs.count %>)</td>
         	</tr>
   			<% end %>
			</table>
      <%= paginate @genres %>
  	</div>
  </div>
</div>

<%= render 'layouts/footer', footer: @footer %>