<header class="navbar navbar-clearfixed navbar-inverse" style="background-color: lightyellow;">
    <div class="container">
      <div class="row">

        <nav class="nav navbar-nav navbar-left" style="margin-top: 0;">
          <span><a href="/">旅ブログ</a></span>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "検索",search_search_path, class: "glyphicon glyphicon-search" %></li>
              <li><%= link_to "ブログ一覧",blogs_path, class: "glyphicon glyphicon-book" %></li>
              <li><%= link_to "ユーザー一覧",users_path, class: "glyphicon glyphicon-book" %></li>
              <li><%= link_to "マイページ",user_path(current_user), class: "glyphicon glyphicon-home home" %></li>
              <li><%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to "トップページ",admins_top_path, class: "glyphicon glyphicon-home" %></li>
              <li><%= link_to "お知らせ一覧",messages_path, class: "glyphicon glyphicon-book" %></li>
              <li><%= link_to "ログアウト",destroy_admin_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %></li>
            <% else %>
              <li><%= link_to "トップページ",root_path, class: "glyphicon glyphicon-home" %></li>
              <li><%= link_to "About",home_about_path, class: "glyphicon glyphicon-link" %></li>
              <li><%= link_to "新規登録",new_user_registration_path, class: "glyphicon glyphicon-edit" %></li>
              <li><%= link_to "ログイン",new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
            <% end %>
          </ul>
        </nav>

        <div class="menuicon" id="toggle" onclick="menuToggle()">
          <a class="toggle">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>

        <div class="fullpagemenu" id="nav">
          <div class="nav">
            <ul>
              <% if admin_signed_in? %>
                <li><%= link_to "トップページ",admins_top_path, data: {text: 'トップページ'} %></li>
                <li><%= link_to "お知らせ一覧",messages_path, data: {text: 'お知らせ一覧'} %></li>
                <li><%= link_to "ログアウト",destroy_admin_session_path,method: :delete, "data-confirm" => "ログアウトしますか？", data: {text: 'ログアウト'} %></li>
              <% elsif user_signed_in? %>
                <li><%= link_to "ブログ検索", search_search_path, data: {text: 'ブログ検索'} %></li>
                <li><%= link_to "ブログ投稿", new_blog_path, data: {text: 'ブログ投稿'} %></li>
                <li><%= link_to "ブログ一覧", blogs_path, data: {text: 'ブログ一覧'} %></a></li>
                <li><%= link_to "ユーザー一覧", users_path, data: {text: 'ユーザー一覧'} %></a></li>
                <li><%= link_to "マイページ", user_path(current_user), data: {text: 'マイページ'} %></a></li>
                <li><%= link_to "ログアウト",destroy_user_session_path,method: :delete, "data-confirm" => "ログアウトしますか？", data: {text: 'ログアウト'} %></li>
              <% else %>
                <li><%= link_to "トップページ", root_path, data: {text: 'トップページ'} %></li>
                <li><%= link_to "About", home_about_path, data: {text: 'About'} %></a></li>
                <li><%= link_to "新規登録", new_user_registration_path, data: {text: '新規登録'} %></a></li>
                <li><%= link_to "ログイン", new_user_session_path, data: {text: 'ログイン'} %></a></li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>