<%= notice %>
<%= render 'layouts/header', header: @header %>

<div class="container">
　<div class="row col-xs-6 col-xs-offset-3">
    <div class="box">
    <h2>新規登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="inputBox">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true %>
          <%= f.label :名前 %>
        </div>
        <div class="inputBox">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
          <%= f.label :メールアドレス %>
        </div>
        <div class="inputBox">
          <%= f.password_field :password, autocomplete: "current-password", required: true %>
          <%= f.label :パスワード %>
        </div>
          <%= f.submit "新規登録", class: "btn btn-primary col-xs-12" %>
      <% end %>
    </div>
  <h5 style="margin-top: 50px;">既に登録済の方は<%= link_to "こちら", new_user_session_path %>からログインしてください。</h5>
  </div>
</div>

<%= render 'layouts/footer', footer: @footer %>

